@import 'fonts';
@import 'variables';

html {
  box-sizing: border-box;
  font-family: $font;
}

* {
  box-sizing: inherit;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

@import 'menu';

.content {
  margin: auto;
  max-width: 900px;
}

.menu-toggle {
  background: lighten($teal, 10);
  border: 3px solid $teal;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 3em;
  padding: 7px;
  transition: all .3s;

  &:hover {
    background: $teal;
    border: 3px solid lighten($teal, 10);
  }
}
