@import 'fonts';
@import 'variables';

html {
  box-sizing: border-box;
  font-family: $font;
}

* {
  box-sizing: inherit;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

@import 'position';
@import 'menu';
